<script>
  annotater([
    {
      name: /Arahantas|arahant/i,
      tooltip: "žmogus susidorojęs su visais teršalais, pasiekęs meditacijoje aukšiausio, t. y. nušvitimo; po mirties (parinibbānos) jis nebeatgims nei viename iš pasaulių."
    },
    {
      name: /Asura|asura/i,
      tooltip: "vienos žemesnės dėvų klasės būtybė, budizmo puolęs angelas"
    },
    {
      name: /Bhavanga|bhavaṅg|bhavang/i,
      tooltip: "vienuodų sąmonių tęstinumas, kuris nutrunka tik pažinimo proceso metu; jos objektas  yra toks pat kaip praeito gyvenimo artimos mirčiai sąmonės objektas."
    },
    {
      name: /Bodhisata|bodhisatt/i,
      tooltip: "žmogus pasižadėjęs tapti Buda; Mahajanos tradicijos idealas; iki savo atbudimo jis nugyvena nenusakomai didelį gyvenimų skaičių, o po jo tampa Buda iki tol kol tame gyvenime pasiekia parinirvana."
    },
    {
      name: /Brahm/i,
      tooltip: "vieno iš dvidešimties žymiai aukštesnių už žmogaus pasalių gyventojų; nematomas žmogaus akimis, bet gali būti pamatytas susitelkimo šviesos pagalba."
    },
    {
      name: /Buda|buddh/i,
      tooltip: "be mokytojo pagalbos višiskai atbudes žmogus, tas kas pats atranda ir moko keturias tauriasias tiesas; kaip ir kiti Arahantai, po mirties (parinibbānos) jis nebeatgimsta nei viename iš pasaulių."
    },
    {
      name: /Čėtana|cetan/i,
      tooltip: "viena iš svarbiausių universalių, t.y. surištų su kiekviena sąmone, mentalinių veikmių. Ji yra atsakinga už ketinimą, jos charakteristika yra siekimo būsena, ji pasireiškia visų su ja besirandančių mentalinių veikmių suderinimu ir nukreipimu link tikslo pasiekimo, jos funkcija yra karmos kaupimas."
    },
    {
      name: /Dėva|dev/i,
      tooltip: "(iš didžiosios raidės) Budos mokymai, taurioji tiesa."
    },
    {
      name: /Dharma|Dhamm/,
      tooltip: "žmogus susidorojęs su visais teršalais, pasiekęs meditacijoje aukšiausio, t. y. nušvitimo; po mirties (parinibbānos) jis nebeatgims nei viename iš pasaulių."
    },
    {
      name: /dhamm/,
      tooltip: "(iš mažosios raidės) reiškinys; būsena; proto objektas."
    },
    {
      name: /Džhana|jhān|jhan/i,
      tooltip: "viena iš aštuonių labai aukšto ir subtilaus susitelkimo į tam tikrą objektą būsenų, kurioje protas yra ypač sąmoningas ir švarus"
    },
    {
      name: /Gandhaba|gandhabba/i,
      tooltip: "žemiausios dėvų klasės būtybė, dangiškasis muzikantas."
    },
    {
      name: /Karma|kamm/i,
      tooltip: "veiksmas; valios sukuriama jėga, kuri verčia gerus valios aktus duoti gerus vaisius, o blogus - blogus."
    },
    {
      name: /Nirvana|nibbān/i,
      tooltip: "galutinis nušvitimas; išnykimo elementas; galutinė realybė; pasiekiama pažinus ir peržengus galinius protą-materiją; 'matoma' subrendus įžvalgos pažinimams; tai nesavastis ir neprilygstamai pastovu ir ramu; tai nėra vieta."
    },
    {
      name: /Pačėkabudha|paccekabuddh/i,
      tooltip: "be mokytojo pagalbos višiskai atbudes žmogus, tas kas pats atranda keturias tauriasias tiesas, bet jų nemoko."
    },
    {
      name: /Parinirvana|parinibbān/i,
      tooltip: "Budos, Pačėkabudos ir visų Arahantų mirtis po kurios nebėra daugiau gimimų, nebėra materijos ir proto."
    },
    {
      name: /Pėta|pet/i,
      tooltip: "žemesnio už žmogaus, bet aukštesnio už gyvūnų pasaulio gyventojas; nematomas žmogaus akimis, bet gali būti pamatytas susitelkimo šviesos pagalba."
    },
    {
      name: /rūp/i,
      tooltip: "materija, psichika."
    },
    {
      name: /arūp/i,
      tooltip: "ne materija, psichika."
    },
    {
      name: /Samatha|ramum/i,
      tooltip: "susitelkimo į objektą praktika vedanti į aukštesnias susitelkimo būsenas, jos pagalba protas vis labiau nurimsta."
    },
    {
      name: /Samsara|saṃsāra/i,
      tooltip: "besikartojantis gimimų, gyvenimų ir mirčių ciklas, 'atgimimų ratas', nuo neatmenamų laikų netrūkstama nuolat kintančių penkių visumų kombinacijos kaita."
    },
    {
      name: /Sangha|saṅgh|sangh/i,
      tooltip: "bendrija, bendruomenė; praeities, dabarties ir ateities pasaulinė vienuolių bendruomenė; taip pat atskira vienuolių grupė, pvz. vieno vienuolyno vienuoliai."
    },
    {
      name: /Syla|sīl/i,
      tooltip: "dorovė, visi budisatai: ir vienuoliai, ir pasauliečiai- turi laikytis ir vystyti ją."
    },
    {
      name: /Suta|sutt/i,
      tooltip: "pamokymas iš antro iš trijų Pāḷi kanono krepšių; Budos mokymai kasdienine, sutartine kalba."
    },
    {
      name: /Tathagata|Tathagat|Tathāgat/i,
      tooltip: "'taip žengęs', epitetas, kuri Buda naudoja kalbant apie save."
    },
    {
      name: /Vipasana|vipassan/i,
      tooltip: "įžvalga; savitų materijos ir proto bruožų, priežasties ir pasekmės, bei jiems bendrai būdingų nepastovumo, kančios ir nesavastingumo bruožų pažinimas galutinės realybės lygmenyje."
    },
    {
      name: /Jodžiana|yojana|yojan/i,
      tooltip: "~ 12 km"
    },
    {
      name: /Katika|kattik/i,
      tooltip: "lapkričio mėnuo."
    },
    {
      name: /Mara|Māra|Mar/i,
      tooltip: "vieno iš dėvų pasaulių valdovas, budizmo Šėtonas, Gundytojas, mirties personifikacija."
    },
    {
      name: /Naga|nāg|nag/i,
      tooltip: "vienos žemesnės dėvų klasės būtybė; panašaus į gyvatę pavidalo; dažnai turi antgamtinių galių ir pasižymi didžia stiprybe."
    },
    {
      name: /Patimokha|pātimokkh|patimokkh/i,
      tooltip: "pagrindinės vienuolių elgesio taisyklės, kurių skaičius yra 227 vyrams ir 311 moterims."
    },
    {
      name: /Uposatha|uposath/i,
      tooltip: "religinių apeigų dienos išpuolančios per mėnulio mėnesio pilnatį, jaunatį ir delčią."
    }
  ])
</script>
