<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}/">Home</a></li>
		<li><a href="{{ site.url }}/tags/">Pradžia</a></li>
		<li>
			<a href="#">Mokymas</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/mokymas/">Žiūrėti visus</a></li>
				<li><a href="{{ site.url }}/mokymas/trys-brangenybes">Trys brangenybės</a></li>
				<li><a href="{{ site.url }}/tags/">Keturios tauriosios tiesos</a></li>
				<li><a href="{{ site.url }}/tags/">Aštuonialypis taurusis kelias</a></li>
				<li><a href="{{ site.url }}/tags/">Trys būties bruožai</a></li>
				<li><a href="{{ site.url }}/tags/">Sąlygotas atsiradimas</a></li>
				<li><a href="{{ site.url }}/mokymas/kamma">Kamma</a></li>
				<li><a href="{{ site.url }}/tags/">Abhidhamma</a></li>
				<li><a href="{{ site.url }}/tags/">Gotama Buddhos gyvenimas</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Tipiṭaka</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/posts/">Suttanta</a></li>
				<li><a href="{{ site.url }}/tags/">Abhidhamma</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Praktika</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/posts/">Sila (Moralė)</a></li>
				<li><a href="{{ site.url }}/tags/">Samatha (Ramuma)</a></li>
				<li><a href="{{ site.url }}/tags/">Vipasana (Įžvalga)</a></li>
			</ul>
		</li>
		<li><a href="{{ site.url }}/tags/">Vienuolynai</a></li>
		<li><a href="{{ site.url }}/tags/">Mokytojai</a></li>
		<li><a href="{{ site.url }}/tags/">Iliustracijos</a></li>
		<li><a href="{{ site.url }}/tags/">Nuorodos</a></li>
		<li><a href="{{ site.url }}/tags/">Prisidėkite</a></li>
		<!-- {% for link in site.data.navigation %}
	    {% if link.url contains 'http' %}
	        {% assign domain = '' %}
	        {% else %}
	        {% assign domain = site.url %}
	    {% endif %}
	    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
	  {% endfor %} -->
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
